<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users New</title>
</head>
<body>
    <h1>USER</h1>
    <form action="/create/user" method="post">
        {% csrf_token %}
        First Name: <br>
        <input type="text" name="first_name" id=""> <br>
        Last Name: <br>
        <input type="text" name="last_name" id=""> <br>
        Email: <br>
        <input type="email" name="email" id=""><br>
        <input type="submit" value="Create">
    </form>  
</body>
</html>